# Erlaubte Dateien (Ausnahmen)
!images/Logo/*.pdf
!images/Logo/*.svg
!images/Logo/*.eps
!images/*.pdf
!images/*.tex

# Projekt-Spezifisch
NAVIGATION.html
update_log.txt
*.pdf
html/*.html
tex/*.tex
images/output/

# System & Editor
.DS_Store
.idea/
.vscode/
*.swp
*.bak

# Python
__pycache__/
*.py[cod]
venv/
.env
.pytest_cache/
.mypy_cache/
.tox/
*.egg-info/
dist/
build/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc

# Git
.git/
